.CadenaDescendente h2 {
  background-color: blue;
  height: 100px;
}

.TodosLosHijos > div > h2 {
  background-color: blue;
  height: 100px;
}

.Margin {
  margin: 90px;
  background-color: yellow;
}

.Pading {
  padding: 50px;
  background-color: yellow;
}

.Displays p {
  background-color: aqua;
}

.Displays a {
  background-color: blueviolet;
}

.Displays h1 {
  background-color: brown;
}

.Displays h3 {
  background-color: darkgray;
}

.Displays h6 {
  background-color: sienna;
}

.Displays > div > p {
  background-color: black;
  color: white;
}

.Displays1 > p {
  background-color: aqua;
  display: inline;
}

.Displays1 a {
  background-color: blueviolet;
  display: block;
  text-decoration: none;
}

.Displays1 h1 {
  background-color: brown;
  display: inline;
}

.Displays1 h3 {
  background-color: darkgray;
  display: inline;
}

.Displays1 h6 {
  background-color: sienna;
  display: inline;
}

.Displays1 > div > p {
  background-color: black;
  color: white;
  display: inline;
}

.Displays1 div {
  display: inline;
}

.Flex1 h5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  background-color: green;
}

.Flex2 h5 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  background-color: rebeccapurple;
}

.Ejemplo2 {
  display: flex;
  flex-direction: row;
  color: blue;
}

.Seccionp1 {
  width: 20%;
  background-color: green;
}

.Seccionp2 {
  width: 30%;
  background-color: gray;
}

.Seccionp3 {
  width: 50%;
  background-color: red;
}

.Ejemplo3 {
  display: flex;
  flex-direction: column;
}

.parrafo1 {
  text-align: center;
  padding: 100px;
  background-color: purple;
}

.parrafo2 {
  text-align: center;
  padding: 200px;
  background-color: darkorange;
}

.Ejemplo4 {
  display: flex;
  flex-direction: row;
}

.parrafo1_4 {
  width: 40%;
  background-color: chartreuse;
  text-align: center;
}

.segundaCaja {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: beige;
}
.parrafo2_4 {
  width: 30%;
  background-color: brown;
}

.parrafo3_4 {
  width: 70%;
  background-color: blueviolet;
}

.mediaqueris {
  padding: 500px;
}
@media (max-width: 360px) {
  .mediaqueris {
    padding: 500px;
    background-color: green;
  }
}

@media (max-width: 616px) and (min-width: 360px) {
  .mediaqueris {
    background-color: red;
  }
}

@media (max-width: 933px) and (min-width: 616px) {
  .mediaqueris {
    background-color: blue;
  }
}

@media (max-width: 1131px) and (min-width: 933px) {
  .mediaqueris {
    background-color: yellow;
  }
}

@media (min-width: 1131px) {
  .mediaqueris {
    background-color: brown;
  }
}

/* Seudo elementos */

h1::after {
}

/* Absoluto y Relativo */
.ejercicioAR {
  height: 500px;
  background-color: blueviolet;
  position: relative;
}

.ejercicioAR div {
  width: 90px;
  height: 90px;
  background-color: red;
  position: absolute;
  bottom: 300;
  right: 0;
}

/* -------Codigo Limpio -----------

:root
html
body
h1
h2
img
p
a
.Seccionp1
.Seccion2
.Seccion3 */

/* Degradados y Sombras  css matic*/

.colores {
  height: 400px;
  background: rgba(248, 80, 50, 1);
  background: -moz-linear-gradient(
    left,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 50%,
    rgba(246, 41, 12, 1) 51%,
    rgba(240, 47, 23, 1) 71%,
    rgba(231, 56, 39, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(248, 80, 50, 1)),
    color-stop(50%, rgba(241, 111, 92, 1)),
    color-stop(51%, rgba(246, 41, 12, 1)),
    color-stop(71%, rgba(240, 47, 23, 1)),
    color-stop(100%, rgba(231, 56, 39, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 50%,
    rgba(246, 41, 12, 1) 51%,
    rgba(240, 47, 23, 1) 71%,
    rgba(231, 56, 39, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 50%,
    rgba(246, 41, 12, 1) 51%,
    rgba(240, 47, 23, 1) 71%,
    rgba(231, 56, 39, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 50%,
    rgba(246, 41, 12, 1) 51%,
    rgba(240, 47, 23, 1) 71%,
    rgba(231, 56, 39, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(248, 80, 50, 1) 0%,
    rgba(241, 111, 92, 1) 50%,
    rgba(246, 41, 12, 1) 51%,
    rgba(240, 47, 23, 1) 71%,
    rgba(231, 56, 39, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

.colores div {
  height: 70px;
}
