/* Nombre del archivo debe ser STYLE.CSS */

:root {
  --colorPrincipal: #f76666;
  --colorSecundario: #02052f;
  --fuentePrincipal: "Open Sans", sans-serif;
  --fuenteBotones: "Dinbold", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  /* background-color: var(--colorPrincipal); */
  font-family: var(--fuentePrincipal);
}

/* @media (min-width:900px) {
  body{
    background-color: yellow;
  }
  
}

@media (max-width:700px) {
 body{
  background-color: blue;
 } 
} */

.colorprincipal {
  color: var(--colorPrincipal);
}

/* MediaQuery con vista Ordenador */
@media (min-width:1140px) {
  /* Estilos Genericos */
  .contenedor {
    max-width: 80%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    /* margin: o auto; TIENE LA MISMA FUNCION QUE LOS 4 MARGIN DE ARRIBA */
  }
}

/* para tablet */
@media (max-width:1140px) and (min-width:768px) {
  .contenedor {
    max-width: 80%;
    margin: 0 auto;
  }
}
/* Para movil */
@media (max-width:768px) {
  .contenedor {
    max-width: 90%; 
    margin: 0 auto;
  }
}

/* Estilos para el Main */
.imgfondo-principal {
  background-image: url(../img/11641893944_banner_zona_centro.png);
  background-size: cover;
  background-position: top left;
  padding: 80px 0 180px 0;
}

.margenDerecho {
  margin-right: 33%;
}
@media (max-width:1140px) {
  .margenDerecho {
    margin-right: 0;
  }
}
h1 {
  color: white;
  font-family: var(--fuentePrincipal);
  font-size: 4.4rem;
  background-color: rgba(248, 102, 102, 0.65);
  font-weight: 800;
  margin-bottom: 10px;
  padding: 35px;
  text-align: left;
  line-height: 1.2;
}

.imgfondo-principal a {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 24px 94px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--fuenteBotones);
  font-size: 1.4rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .imgfondo-principal {
    padding: 24px 70px;
  }
}

.flexMain {
  display: flex;
  flex-direction: row;
  /* por defecto es row  */
  justify-content: space-between;
  /* importante el justify-content ya que con eso ordenaras los objetos */
}


.flexMain img {
  margin-right: 10px;
}

/* Estilos para la imagen de corporaciones */
.imagenesCorpo {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -120px;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1140px) and (min-width: 768px) {
  [src="img/Logos-oficiales.png"] {
    max-width: 70%;
  }
  [src="img/Logo-Adecco.png"] {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .imagenesCorpo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imagenesCorpo img {
    max-width: 100%;
    margin: 20px;
  }
}

@media (max-width:768px) {
  .imagenesCorpo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagenesCorpo img{
    max-width: 90%;
    padding: 20%;
  }
}

/* Estilos seccion Cursos */
.Seccioncursos h3 {
  text-align: center;
  color: var(--colorPrincipal);
  font-family: var(--fuentePrincipal);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin: 40px 0px;
}

.Seccioncursos > h2 {
  margin-bottom: 72px;
  text-align: center;
  color: var(--colorSecundario);
  font-family: var(--fuentePrincipal);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.7rem;
}

.botonesCursos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 105px;
}

.cambiatufuturoh3 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 27px;
}

.botonVertodo {
  background-color: var(--colorPrincipal);
  color: white;
  font-family: var(--fuentePrincipal);
  font-size: 1.3rem;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid var(--colorPrincipal);
}

.botonMadrid {
  background-color: white;
  color: var(--colorSecundario);
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid var(--colorPrincipal);
}

.CursosOfertados {
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .CursosOfertados {
    flex-direction: column;
    /* align-items: center; */
  }
}

.CursosOfertados > div {
  flex: 2;
  max-width: 50%;
  justify-content: space-between;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
@media (max-width: 1140px) {
  .CursosOfertados > div {
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .CursosOfertados > div {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 100%;
  }
}
.Marketing {
  background-image: url(../img/Curso-marketing-digital-centro.png);
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.Videojuegos {
  background-image: url(../img/Curso-programacion-videojuegos-centro.png);
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.CursosOfertados h2 {
  color: white;
  font-family: var(--fuenteBotones);
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.CursosOfertados div h2 {
  color: white;
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 22px;
}

.CursosOfertados a {
  color: var(--colorPrincipal);
  font-size: 1.4rem;
  background-color: white;
  border: 2px solid white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 60px;
  display: inline-block;
}

/* Estilo seccion Pidenoslo */

.texto-center-pregunta {
  margin-bottom: 150px;
  text-transform: uppercase;
  font: var(--fuentePrincipal);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zonaH3 {
  font-weight: 800;
  font-size: 17px;
  text-align: center;
  margin: 60px;
}

.pidenosloBoton a {
  color: white;
  text-decoration: none;
  background-color: #f76666;
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  padding: 15px 34px;
  border-radius: 40px;
  font-weight: 700;
}

.pidenosloBoton a:hover {
  background-color: #02052f;
  text-decoration: underline;
}
/* Estilos seccion video */
.VideoYoutube {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
@media (max-width:1140px) {
  .VideoYoutube iframe{
    width: 100%;
    height: 350px;
  }
  
}

@media (max-width:767px) {
  .VideoYoutube iframe{
    width: 100%;
    height: 200px;
  }
  
}
/* Estilos seccion para quien son estos cursos */

.SeccionParaQuien {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
@media (max-width:1140px) {
  .SeccionParaQuien{
    flex-direction: column;
  }
  
}

.SeccionParaQuien > div {
  flex: 1;
  max-width: 50%;
}

@media (max-width:1140px) {
  .SeccionParaQuien>div{
    flex:1;
    max-width: 100%;
  }
  
}


.texto-h3-red {
  color: var(--colorPrincipal);
  font-family: var(--fuentePrincipal);
  font-weight: 800;
  font-size: 1.9rem;
  text-transform: uppercase;
}

.SeccionParaQuien h2 {
  font-family: var(--fuentePrincipal);
  color: var(--colorSecundario);
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 22px;
}

.ParaQuienIzq {
  margin-right: 15px;
}

.SeccionParaQuien p {
  font-family: var(--fuentePrincipal);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.5;
  color: var(--colorSecundario);
}
.SeccionParaQuien span {
  font-weight: 800;
}

.ParaQuienIzq h4 {
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 800;
  color: #02052f;
  line-height: 1.8;
  text-transform: uppercase;
}

.ParaQuienIzq a {
  color: var(--colorPrincipal);
  text-transform: uppercase;
  font-family: var(--fuenteBotones);
  font-size: 1.4rem;
  font-weight: 700;
}

.ParaQuienIzq h5 {
  font-family: var(--fuentePrincipal);
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--colorSecundario);
  margin-bottom: 25px;
}

.ParaQuienIzq .BotonInfoGrafia {
  background-color: var(--colorPrincipal);
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
}

.ParaQuienDerecha {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.ParaQuienDerechaSuperior {
  background-color: var(--colorPrincipal);
  padding: 60px 30px;
}

.ParaQuienDerechaSuperior h5 {
  font-family: var(--fuentePrincipal);
  color: white;
  font-size: 2.8rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

.ParaQuienDerechaSuperior .destacarAzul {
  color: var(--colorSecundario);
}

.ParaQuienDerechaSuperior span {
  color: black;
}

.ParaQuienDerechaInferior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -60px;
}
.ParaQuienDerechaInferior h4 {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 40px;
  margin-right: 15px;
}
.ParaQuienDerechaInferior span {
  color: var(--colorPrincipal);
}

.ParaQuienDerechaInferior img {
  margin-top: 20px;
}

/* Estilos Localizaciones */
.localizaciones {
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 120px 0px;
  font-size: 1.4rem;
}

.Cajas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MadridCaja {
  padding-top: 10px;
  width: 25%;
}

.MadridCaja2 {
  width: 25%;
}
@media (max-width:1140px) {
  .localizaciones{
    width: 50%;
  }
  
}

@media (max-width:768px) {
  .localizaciones .contenedor{
    flex-wrap: wrap;
  }
  .localizaciones .contenedor div{
    width: 100%;
  }
}


/* Estilos Contactar */

.Contacto {
  background-color: var(--colorPrincipal);
  padding-top: 90px;
  padding-bottom: 130px;
}
.Contacto .contenedor > h3 {
  color: white;
  font-size: 17px;
  margin-bottom: 22px;
  font-weight: 300;
  font-family: var(--fuentePrincipal);
  text-transform: uppercase;
}
.Contacto .contenedor > h2 {
  color: white;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-weight: 800;
}
.ContactoCuadros {
  display: flex;
  flex-direction: row;
}


.ContactoCuadros img {
  margin-right: 15px;
}
.cuadro1 {
  display: flex;
  background-color: white;
  margin-right: 15px;
  border-radius: 0.55rem;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  max-width: 50%;
  padding: 20px;
}
.cuadro2 {
  background-color: white;
  margin-left: 15px;
  border-radius: 0.55rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

@media (max-width:1140px) {
  .ContactoCuadros{
    flex-direction: column;
  }
  .cuadro1, .cuadro2{
    max-width: 100%;
    margin: 10px 0px;
  }
  .ContactoCuadros img {
    height: 50px;
  };
}

/* Estilos Footer */
.Footer {
  display: flex;
  flex-direction: column;
  color: var(--colorSecundario);
  text-transform: uppercase;
  padding: 40px;
}

.cajaFooter1 {
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.2;
  padding: 30px 0px 45px 0px;
}

.txtcurso {
  width: 30%;
}

.txtsobre {
  width: 20%;
}

.cajaFooter2 {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  border-top: 1px solid #194584;
  border-bottom: 1px solid #194584;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cajaFooter2 a {
  margin-right: 25px;
}

/* Estilos Header */

.seccionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}


.seccionImagen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 45%;
}

.seccionEnlaces {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}


@media (max-width:768px) {
  .seccionHeader{
    flex-direction: column;
  }
  .seccionImagen, .seccionEnlaces{
    max-width: 100%;
    align-items: center;
  }
}
.seccionLogin {
  display: flex;
  justify-content: flex-end;
}

.seccionLogin a {
  color: var(--colorPrincipal);
  margin-left: 7px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.7rem;
}

.seccionLogin a:hover {
  text-decoration: underline;
}

.seccionNav a {
  color: var(--colorSecundario);
  font-family: var(--fuentePrincipal);
  margin-left: 7px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.7rem;
  display: inline-block;
}

.seccionNav a:hover {
  text-decoration: underline;
}

.botonInformate {
  background-color: var(--colorPrincipal);
  padding: 0.6rem 1.5rem;
  border-radius: 4rem;
  color: white !important;
}

.botonInformate :hover {
  background-color: var(--colorSecundario);
  text-decoration: none !important;
}


.seccionImagen{
  max-width: 100%;
}
/* Escribir en CSS; BEM; Utility-First;Modulo */
