/* Nombre del archivo debe ser STYLE.CSS */

:root{
  --colorPrincipal: #F76666;
  --colorSecundario: #02052F;
  --fuentePrincipal:'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  /* background-color: var(--colorPrincipal); */
  font-family: var(--fuentePrincipal);
}

h1 {
  color:var(--colorPrincipal);
  font-size: 4.5rem;
  background-color: rgba(248, 102, 102, 0.65);
  font-weight:800;
  margin-bottom: 1rem;
  padding: 3, 5rem;
  text-align: left;
  line-height: 1.2;
}

          

.texto-center-pregunta{
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
}

.texto-h4-participar {
  text-transform: uppercase;
}


.localizaciones- >h2 , .localizaciones- > h3 , .localizaciones- > p {
  text-transform: uppercase;
  color:white;
  text-transform: uppercase;
  background-color: black;
}


.texto-h3-red {
  text-align: initial;
  color: var(--colorPrincipal);
  text-transform: uppercase;
  font-size: 17px;ç
  font-weight: 800;

}

.colorprincipal{
  color: var(--colorPrincipal);
}

.loginAlumnos {
  color:#F76666;
  font-family: sans-serif;
  text-align: right;
  background-color: transparent;

}

.loginEmpresas{
  color: #F76666;
  text-align: right;
}


.cursoh3 {
  color: #f76666;
  text-align: center;
}


.cambiatufuturoh3{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-family: sans-serif;
}