:root {
  --colorPrincipal: ;
  --colorSecundario: ;
  --backgroundColor: #f0e0c7;
  --backgroundColorSecun: #917c57;
  --fuentePrincipal: "Open Sans", sans-serif;
  --fuenteBotones: ;
}

html {
  font-size: 80%;
}

body {
  font-size: 20px;
  background-color: var(--backgroundColor);
  margin: 0;
}

@media (min-width: 1140px) {
  .contenedor {
    max-width: 90%;
    margin: 0 auto;
  }
}

/* para tablet */
@media (max-width: 1140px) and (min-width: 768px) {
  .contenedor {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Para movil */
@media (max-width: 768px) {
  .contenedor {
    max-width: 92%;
    margin: 0 auto;
  }
}

/* Seccion Header */
.headerBox {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right,
      rgba(247, 229, 198, 0.7),
      rgba(54, 133, 62, 0.3));
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.tituloHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloHeader a {
  text-decoration: none;
  font-size: 50px;
  color: #36853e;
  margin-left: 30px;
}

.tituloHeader .contactanosHeader {
  color: black;
  display: grid;
  margin-right: 5%;


  font-size: 25px;
}


/* Seccion del Nav */
.menu {
  width: 100%;
  background-color: var(--backgroundColorSecun);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: linear-gradient(to right,
      rgba(247, 229, 198, 0.7),
      rgba(54, 133, 62, 0.3));
}

.menu a {
  margin: 0px 30px;
  text-decoration: none;
  color: #36853e;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 50px;
}


.parrafoLnks>a {
  text-decoration: none;
  color: white;
}


/* Imagines con slides */

html {
  height: 100%; /*altura del HTML*/
}

.slider { /*Estilos contenedor slider */
  display: flex;/*podemos moverlo en flex (filas o columnas)*/
  transition: transform 0.5s ease-in-out;/*aplicamos transicion suave*/
  width: 100%;
  height: 93.5vh;/*La altura de la ventana lo que ves al momento de entrar en la pagina ya que es la parte principal*/
  align-items: start;
  overflow: hidden; /*Para que la imagen no salga del contendor ya que cada una tienen tamaños distintos y podrian salirse del contenedor creado*/
  /* ponemos el overflow:hidden aqui para que no afecte a todo el body*/
}

.slide {
  flex: 1;
  min-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*////////////////*/
#nav {
  position: relative;
  /* O la posición inicial que prefieras */
  transition: position 0.3s ease;
  /* Agrega una transición suave */
}

.fixed-nav {
  position: fixed !important;
  top: 58px;
  width: 100%;
}







/*IMAGEN  article*/
article {
  position: relative;
  width: 250px;
  transition: all .3s ease;
}

article img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

article img:last-child {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: .3s ease;
  opacity: 0;

}

article :hover {
  /*Aplica una transformación 3D al artículo (rotación, traslación en los ejes X e Y). cuando se pasa el raton por encima*/
  transform: perspective(250px) rotatex(10deg) translateY(-5%) translateZ(0)
}

article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom,
      transparent 100% rgba(0, 0, 0, 0.5)50% rgba(0, 0, 0)95%);
  opacity: 0;
  transition: all .3s ease;

}

article:hover::before {
  opacity: 1;

}

article:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}


/*Logo fijo*/
.logoFix{
  position: fixed;
  bottom: 0;
  right: 0;
}

.logoFix img{
  width: 80px;
  background-image: ;
}